[submodule "Calibrating-Rough-Volatility-Models-with-Deep-Learning"]
	path = Calibrating-Rough-Volatility-Models-with-Deep-Learning
	url = https://github.com/nicolassalok1/Calibrating-Rough-Volatility-Models-with-Deep-Learning.git
[submodule "RLTrader"]
	path = RLTrader
	url = https://github.com/nicolassalok1/RLTrader.git
[submodule "TradeMaster"]
	path = TradeMaster
	url = https://github.com/nicolassalok1/TradeMaster.git
[submodule "hmmlearn"]
	path = hmmlearn
	url = https://github.com/nicolassalok1/hmmlearn.git
[submodule "jumpdiff"]
	path = jumpdiff
	url = https://github.com/nicolassalok1/jumpdiff.git
[submodule "limit-order-book"]
	path = limit-order-book
	url = https://github.com/nicolassalok1/limit-order-book.git
[submodule "pykalman"]
	path = pykalman
	url = https://github.com/nicolassalok1/pykalman.git
[submodule "rough_bergomi"]
	path = rough_bergomi
	url = https://github.com/nicolassalok1/rough_bergomi.git
